#top{
width:auto;
height:100px;
background-color:#00DD99;
color:#FFAABB;       
	   }
body
{
margin:0px;
}
#ttop{
width:auto;
height:50px;
background-color:#330099;
}
#mmenu{
width:auto;
height:30px;
line-height:30px;
align:center;
background-color:#003300;
}
#mi1
{
height:30px;
width:25%;
background-color:#006699;
float:left;
line-height:30px;
color:#FFFF99;
text-align:center;
}
#mi1:hover
{
background-color:#CC2222;
color:#CC22DD;
}
#upper{
width:auto;
height:50px;
line-height:55px;
align:center;
background-color:#AA55FF;
color:#22CCEE;
font-weight:bold;
text-shadow:5px 4px 6px black;
}
#mi2
{
height:30px;
width:25%;
background-color:#EE6699;
float:left;
line-height:30px;
color:#FFFF99;
text-align:center;
}
#mi2:hover
{
background-color:#22AA33;
color:#CC22DD;
}